99-Shared/01-BSKlantBeheerService/Contract/minor-servicebus-bsklantbeheerv1schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:minor-servicebus-bsklantbeheer:v1:schema" elementFormDefault="qualified" targetNamespace="urn:minor-servicebus-bsklantbeheer:v1:schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="KlantenCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Klant" nillable="true" type="tns:Klant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KlantenCollection" nillable="true" type="tns:KlantenCollection" />
  <xs:complexType name="Klant">
    <xs:sequence>
      <xs:element name="id" type="xs:long" />
      <xs:element name="klantnummer" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="voornaam" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="achternaam" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="geboortedatum" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="straat" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="postcode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="woonplaats" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Klant" nillable="true" type="tns:Klant" />
  <xs:complexType name="KlantenSearchCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="klantnummer" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="minLeeftijd" type="xs:int" />
      <xs:element minOccurs="0" name="maxLeeftijd" type="xs:int" />
      <xs:element minOccurs="0" name="woonplaats" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KlantenSearchCriteria" nillable="true" type="tns:KlantenSearchCriteria" />
</xs:schema>